.container{
position:relative;
top:150px;
}

.jumbotron{
width: 1000px;
height: 150px;

}

#campo_dni{
position:relative;
left:150px;
bottom:50px;
width: 700px;

}

#btn_submit{
position:relative;
left:650px;
bottom:40px;
width:200px;
}

.txt1{
    color:#2271b3;
    font-weight: bold;
    font-size:45px;
}

.txt2{
color:rgb(169,170,172);
font-weight: bold;
font-size:30px;
}
